<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head'); %>

    <body>
        <%- include('../../partials/header'); %>
        <main>
            <div class="container">
                <h1>Hi, <%=userSession.first_name%></h1>
                <h4 class="mb-4">Welcome to your profile.</h4>

                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <strong>First name</strong>
                            </td>
                            <td>
                                <%=userSession.first_name%>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Last name</strong>
                            </td>
                            <td>
                                <%=userSession.last_name%>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>E-mail</strong>
                            </td>
                            <td>
                                <%=userSession.email%>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <td class="border-bottom-0">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#editDetailsModal">Edit details</a>
                            <a class="ms-2" href="#" data-bs-toggle="modal" data-bs-target="#editPasswordModal">Change password</a>
                        </td>
                    </tfoot>
                </table>

                <form class="mt-4" action="/auth/signout" method="post">
                    <button type="submit" class="btn btn-primary">Sign out</button>
                </form>
            </div>
        </main>

        <!-- Edit details modal. -->
        <div class="modal fade" id="editDetailsModal" tabindex="-1" aria-labelledby="editDetailsModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form onsubmit="submitForm(event)" method="post" action="/user/details" class="needs-validation row g-3 d-flex justify-content-center">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="editDetailsModalLabel">Edit details</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="col">
                                <div class="form-group form-floating mb-2">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="E-mail" required value="<%=userSession.email%>">
                                    <label for="email">E-mail address</label>
                                    <div id="email-feedback" class="invalid-feedback">
                                        Invalid feedback.
                                    </div>
                                </div>
                                <div class="form-group form-floating mb-2">
                                    <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First name" required value="<%=userSession.first_name%>">
                                    <label for="first_name">First name</label>
                                    <div id="first_name-feedback" class="invalid-feedback">
                                        Invalid feedback.
                                    </div>
                                </div>
                                <div class="form-group form-floating mb-2">
                                    <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last name" required value="<%=userSession.last_name%>">
                                    <label for="last_name">Last name</label>
                                    <div id="last_name-feedback" class="invalid-feedback">
                                        Invalid feedback.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Edit password modal. -->
        <div class="modal fade" id="editPasswordModal" tabindex="-1" aria-labelledby="editPasswordModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form onsubmit="submitFormPassword(event)" method="post" action="/user/password" class="needs-validation row g-3 d-flex justify-content-center">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="editPasswordModalLabel">Change password</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="col">
                                <div class="form-group form-floating mb-2">
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required oninput="passwordConfirmMatching(event, this)">
                                    <label for="password">Password</label>
                                    <div id="password-feedback" class="invalid-feedback">
                                        Invalid feedback.
                                    </div>
                                </div>
                                <div class="form-group form-floating mb-2">
                                    <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" placeholder="Password" required oninput="passwordConfirmMatching(event, this)">
                                    <label for="passwordConfirm">Password (confirm)</label>
                                    <div id="passwordConfirm-feedback" class="invalid-feedback">
                                        Invalid feedback.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <%- include('../../partials/footer'); %>
        
        <script src="/scripts/user/profilePageScripts.js" type="text/javascript"></script>
        <script src="/scripts/utility/alertUtils.js" type="text/javascript"></script>
    </body>
</html>