<header class="mb-4">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-md">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">My Availability</a>
                        <ul class="dropdown-menu">
                            <% 
                            var now = moment();
                            for (let i = 0; i < 4; i++) {
                                const week = now.clone().add(i, "weeks");
                                const weekNumber = week.week();
                                const yearNumber = week.year();
                                %>
                                <li><a class="dropdown-item" href="/availability/<%=yearNumber;%>/<%=weekNumber;%>">Week <%=weekNumber;%></a></li>
                            <% } %>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">My Squads</a>
                        <ul class="dropdown-menu">
                            <% if(userSession != undefined) {
                                for (const squad of userSession.squads) { %>
                                    <li><a class="dropdown-item" href="/squad/<%=squad.id%>"><%=squad.name%></a></li>
                            <%  }
                            } %> 
                            <li><a class="dropdown-item" href="/squad/create">Create</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="d-flex">
                    <% if(userSession == undefined) { %>
                        <span class="align-middle"><a href="/auth/signin"><button class="btn btn-primary">Sign in</button></a></span>
                    <% } else{ %> 
                        <span class="align-middle"><a href="/user/profile">Profile</a></span>
                    <% } %> 
                </div>
            </div>
        </div>
    </nav>
</header>